body {
    padding: 0px;
    display: block; 
    font-family: 'Tilt Warp', cursive;
    background-color: #457b9d;
}
.container{
    margin: auto;
    border-radius: 15px;
    padding: 40px;
    width: 600px;
    box-sizing: border-box;    
    box-shadow: 0px 0px 5px #023047;
    background: linear-gradient(#8ecae6, #023047);
}
#generated-pass-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px;
    padding: 100px 0px 50px;
    box-sizing: border-box;
    border-top: 2px solid #023047;
    border-bottom: 2px solid #023047;
}
.generated-pass{
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}
h2{
    font-size: 18px;
    color: #EDF5E1;
    text-shadow: 0px 0px 2px #023047;
}
h1{
    font-size: 40px;
    color: #EDF5E1;
    text-shadow: 0px 0px 1px #023047;
}
span{
    font-size: 55px;
    display: block;
    color: #023047;
}
#generate-password{
    width: 250px;
    height: 50px;
    font-size: 20px;
    padding: 4px 10px;
    box-sizing: border-box;
    font-family: inherit;
    color: #EDF5E1;
    background-color: #023047;
    box-shadow: 0px 0px 3px #023047;    
    border: none; 
    border-radius: 10px;
}
#generate-password:active{
    font-size: 19.8px;
    box-shadow: none;
    box-shadow: 0px 0px 1px #EDF5E1;
}
input{
    text-align: center;
    font-size: 20px;
    padding: 4px 8px;
    font-family: inherit;
    color: gray;
    background-color: #EDF5E1;
}
h4{
    font-size: 18px;
    text-align: center;
    color: gray;
    text-shadow: 0px 0px 1px black;
}
p{
    font-size: 14px;
    position: absolute;
    top: 29rem;
    color: rgb(150, 150, 150);
}
.copy-btn{
    font-family: inherit;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid #EDF5E1;
    box-sizing: border-box;
}
.copy-btn:active{
    border: 1px solid black;
}
#modif-pass{
    position: absolute;
    top: 335px;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
label{
    font-size: 15px;
    color: #EDF5E1;
}
#checkboxes{
    margin: 10px 0px;
    display: flex;
}
.labels{
    margin-left: 80px;
}
#pass-length{
    text-align: start;
    font-size: 14px;
    padding: 2px 8px;
    box-sizing: border-box;
    width: 60px;
    border: 1px solid #023047;
    border-radius: 3px;
}
#checkbox-symbols{
    position: relative;
    top: -1.15rem;
    left: 7.76rem;
    background-color: #023047;
    width: 14.5px;
    height: 14.5px;
    border-radius: 2px;
    box-sizing: border-box;
}
#checkbox-numbers{
    position: relative;
    top: -1.2rem;
    left: 8rem;
    background-color: #023047;
    width: 14.5px;
    height: 14.5px;
    border-radius: 2px;
    box-sizing: border-box;
}
#checkbox-symbols:hover, #checkbox-numbers:hover{
    border: 1px solid #EDF5E1;
}
#exclude-numbers{
    width: 15px;
    height: 15px;
    padding: 0px;
    margin: 0px 0px 0px 5px;
}
#exclude-symbols{
    width: 15px;
    height: 15px;
    padding: 0px;
    margin: 0px 0px 0px 5px;
}
input[type='checkbox']{
    accent-color: #023047;
}
input[type='checkbox']:hover{
    accent-color: #035985;
}
@media screen and (max-width: 600px) {
    .container{
        width: 300px;
        padding: 20px;
        border-radius: 10px;
    }
    .generated-pass{
        width: 125px; 
        height: 25px;
        border-radius: 5px;
    }
    h2{
        font-size: 12px;
    }
    h1{
        font-size: 25px;
    }
    span{
        font-size: 30px;
    }
    #generate-password{
        width: 150px;
        height: 25px;
        font-size: 14px;
        border-radius: 5px;
    }
    #generate-password:active{
        font-size: 13.8px;
    }
    #generated-pass-container{
        margin: 20px 0px 0px;
        padding: 50px 0px 30px;
    }
    input{
        font-size: 12px;
        height: 25px;
    }
    h4{
        font-size: 8px;
    }
    p{
        font-size: 8px;
        top: 17.5rem;
    }
    .copy-btn{
        font-family: inherit;
        padding: 0px;
        border-radius: 5px;
        border: 1px solid #EDF5E1;
        box-sizing: border-box;
    }
    .copy-btn:active{
        border: 1px solid black;
    }
    #modif-pass{
        top: 200px;
        margin-left: 25px;
    }
    label{
        font-size: 8px;
    }
    #pass-length{
        font-size: 8px;
        padding: 0px 0px 0px 2px;
        box-sizing: border-box;
        width: 35px;
        height: 12px;
    }
    #checkboxes{
        margin: 5px 0px;
    }
    .labels{
        margin-left: 20px;
    }
    #checkbox-symbols{
        top: -0.8rem;
        left: 4.3rem;
        width: 10px;
        height: 10px;
    }
    #checkbox-numbers{
        top: -0.78rem;
        left: 4.4rem;
        width: 10px;
        height: 10px;
    }
    #checkbox-symbols:hover, #checkbox-numbers:hover{
        border: 1px solid #EDF5E1;
    }
    #exclude-numbers{
        width: 10px;
        height: 10px;
        padding: 0px;
        margin: 0px 0px 0px 5px;
    }
    #exclude-symbols{
        width: 10px;
        height: 10px;
        padding: 0px;
        margin: 0px 0px 0px 5px;
    }
}
